SECRET_KEY=h^z13$qr_s_wd65@gnj7a=xs7t05$w7q8!x_8zsld#
DATABASE_NAME=ecommerce
DATABASE_USER=e_user
DATABASE_PASS=password
DATABASE_HOST=localhost
DATABASE_PORT=5432
FIREBASE_URL=https://firebasestorage.googleapis.com/v0/b/shopy-web-dev.appspot.com/o/files%2F
API_KEY=AIzaSyDzchysqA4fiCS64Msaf-Qp8rlG6Rgz0jY
AUTH_DOMAIN=shopy-web-dev.firebaseapp.com
PROJECT_ID=shopy-web-dev
STORAGE_BUCKET=shopy-web-dev.appspot.com
MESSAGING_SENDER_ID=270017414316
APP_ID=1:270017414316:web:a5e34c00ca252abea24b09
MEASURMENT_ID=G-ZT1C96YV3R
JWT_SECRET=h^z13$qr_s_wd65